<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="AdventureWorks" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\development\sandbox\TypeSql\TypeSql.Tests\Data\AdventureWorksLT2008_Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
        <add name="AdventureWorks" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\mjr\src\TypeSql\TypeSql.DbTests\Data\AdventureWorksLT2008_Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
